<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Developers</title>
  </head>
  <body>
    <h1>Developers page</h1>
    <ul>
        <% developers.forEach(developers => { %>
            <li>
                <p>Company name: <%= developers.company_name %></p>
                <p>Country: <%= developers.country %></p>
                <p>Year founded: <%= developers.year_founded %></p>
            </li>
        <% });  %>  
    </ul>
    <a href="/">Go back home</a>
  </body>
</html>
