<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <h1>Genres page</h1>
    <ul>
        <% genres.forEach(genre => { %>
            <li>
                <p>Genre name: <%= genre.genre_name %></p>
            </li>
        <% });  %>  
    </ul>
    <a href="/">Go back home</a>
  </body>
</html>
