<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head") %>
  <body>
    <h1>Home page</h1>
    <ul>
      <li>
        <a href="/games"><button>Games page</button></a>
      </li>
      <li>
        <a href="/developers"><button>Developers page</button></a>
      </li>
      <li>
        <a href="/genres"><button>Genres page</button></a>
      </li>
    </ul>
  </body>
</html>
